* {
  box-sizing: border-box;
}

body {
  font-size: 12px;
  margin: 0;
  font-family: "Kumbh Sans", sans-serif;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%) 80%);
  display: grid;
  justify-content: center;
  align-content: center;
}

.container {
  background: white;
  border-radius: 20px;
  height: 510px;
  width: 900px;
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-gap: 6rem;
  background-image: url("/images/bg-pattern-desktop.svg");
  background-repeat: no-repeat;
  background-position: 870% 67%;
}

.image-container {
  position: relative;
}
.image-main {
  background: url("/images/illustration-woman-online-desktop.svg");
  background-repeat: no-repeat;
  background-position: 120% center;
  height: 100%;
}

.box {
  position: absolute;
  top: 40%;
  right: 80%;
}

.faq-item > .faq-answer {
  display: none;
  transition: 0.3s;
}
.faq-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}
.faq-items-container {
  margin-top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.faq-header {
  font-size: 2.5rem;
  margin-top: 0;
}
.faq-item {
  width: 350px;
  border-bottom: 1px solid hsl(240, 5%, 91%);
}
.faq-question-header {
  font-size: 1.1rem;
  font-weight: 400;
  margin: 1.4rem 0rem;
  color: hsl(237, 12%, 33%);
}
.faq-question {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  transition: 0.3s;
}
.faq-question img {
  align-self: center;
}

.active > .faq-answer {
  display: block;
  padding-bottom: 0.2rem;
  color: hsl(240, 6%, 50%);
}

.active .faq-question-dropdown {
  transform: rotate(180deg);
  transition: all 0.3s ease-in;
}

.active .faq-question-header {
  font-weight: 700;
}

@media (max-width: 700px) {
  .container {
    width: 320px;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;
    grid-gap: 0.5rem;
    position: relative;
    padding: 1rem;
    height: 480px;
    margin-top: 100px;
    background-image: url("/images/bg-pattern-mobile.svg");
    background-repeat: no-repeat;
    background-position: center 0;
  }

  .image-main {
    position: absolute;
    background: url("/images/illustration-woman-online-mobile.svg");
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    top: -119%;
  }
  .box {
    display: none;
  }

  .faq-container {
    margin-top: 10px;
  }
  .faq-item {
    width: 100%;
  }
  .faq-header {
    text-align: center;
    font-size: 2rem;
  }
  .faq-question-header {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
  }
}
